body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: black;
    background-size: cover;
    text-align: center;
    color: rgb(22, 211, 15);
    font-weight: bold;
}
h1 {
    color: goldenrod;
    font-size: 100px;
    font-weight: bolder;
}
#message-el {
    font-style: italic;
}
button {
    background-color: goldenrod;
    width: 150px;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 4px;
    margin-top: 4px;
}